
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/At-rules/@font-face 
Using @font-face we sre specifiying a custom font to display text
This is the standary way to load a local or remote font

*/
 
@font-face {
    font-family: "MyFont";
    src: url("./Assets/fonts/KaushanScript-Regular.ttf");
}

@font-face {
    font-family: "Comic Sans";
    src: url("/");
}

/* This is another way to use a font 
Font family is a property that specifies a font for an element
Sometimes a font might not be supported by a browser
Specify the font you want to use first then a fallback font and the end use a totally generic one so all browsers can easily load
it if your selection isn't available
*/

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

body {
    font-family: "MhyFont", "Caveat", cursive;

}