
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/At-rules/@font-face 
Using @font-face we sre specifiying a custom font to display text
This is the standary way to load a local or remote font

*/
 
@font-face {
    font-family: "MyFont";
    src: url("./Assets/fonts/KaushanScript-Regular.ttf");
}

@font-face {
    font-family: "Comic Sans";
    src: url("./Assets/fonts/comic-sans-ms-font-family/ComicSansMS3.ttf");
}

/* This is another way to use a font 
Font family is a property that specifies a font for an element
Sometimes a font might not be supported by a browser
Specify the font you want to use first then a fallback font and the end use a totally generic one so all browsers can easily load
it if your selection isn't available
*/

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

#Home, h1{
    font-family: "MyFont", "Caveat", "Comic Sans",cursive;
    text-align: left;
    text-decoration: none;
    color: green;
    display: inline-block
    
}

main {
    background-color: #f5f5f5
}

main, footer{
    text-align: center;
}
#mode{
    color: white;
    background-color: black;

}